@import '../../styles.scss';

.login{
    background: #FFFFFF;
    height: 100vh;
    .section-heading{
        padding: 0 10px;
        p{
            color: var(--primary-color);
            text-align: center;
            font-size: 1.2em;
            font-weight: 500;
        }
        img{
            width: 180px;
            margin: auto calc(50% - 90px) 30px;
        }
    }
    .form-wrapper{
        box-shadow: var(--shadow-300);
        // background: var(--light-bg);
        padding: 3em 2em;
        position: absolute;
        top: 0;
        // height: 50vh;
        margin-top: 20vh;
        border-radius: 10px;

        .form-heading{
            font-size: 1.5em;
            padding: 10px;
            color: var(--primary-text-dark-500-color);
        }

        .input-wrapper{
            width: 100%;
            float: left;
            color: var(--primary-text-color);
            padding: 10px;
            img{
                width: 150px;
                padding: 20px;
                margin: auto calc(50% - 75px);
            }
        }
        .login-btn{
            background: var(--primary-color);
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
            color: var(--primary-text-color);
            border: 0;
            border-radius: 4px;
            width: 35%;
            margin: 20px auto 0;
            padding: 10px;
        }
    }
}

// Calendar
.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }

  .form-inline{
      .fw-item{
          width: 49%;
      }
  }
  .salesman-select{
      .input-group-append{
          width: 100%;
      }
  }