<section class="login">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-2 form-wrapper clearfix">

        <div class="col-lg-12 section-heading">
            <p>TradeKings Report Dashboard</p>
            <p *ngIf="!isFetchedData">Fetching data...</p>
        </div>

        <div class="col-lg-12 input-wrapper clearfix">
            <img src="../../assets/icons/xlsx.svg" alt="">
        </div>
          <div class="col-lg-12 input-wrapper center-item-wrapper clearfix">
              <button class="btn login-btn hover-shadow" [disabled]="!isFetchedData"(click)="onDownloadSheet()">Download Sheet</button>
          </div>
      </div>
</section>