<section class="login">
    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 form-wrapper clearfix">

        <div class="col-lg-12 section-heading">
            <p>TradeKings Report Dashboard</p>
            <p *ngIf="isFetchedData">Fetching data...</p>
        </div>
        <div class="filters col-lg-12">
            <div class="col-lg-8 pr-0 float-left">
                <form class="form-inline">
                    <div class="form-group hidden">
                      <div class="input-group">
                        <input name="datepicker"
                               class="form-control"
                               ngbDatepicker
                               #datepicker="ngbDatepicker"
                               [autoClose]="'outside'"
                               (dateSelect)="onDateSelection($event)"
                               [displayMonths]="2"
                               [dayTemplate]="t"
                               outsideDays="hidden"
                               [startDate]="fromDate!">
                        <ng-template #t let-date let-focused="focused">
                          <span class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                          </span>
                        </ng-template>
                      </div>
                    </div>
                    <div class="form-group fw-item">
                      <div class="input-group">
                        <input #dpFromDate
                               class="form-control second-cal" 
                               placeholder="yyyy-mm-dd"
                               name="dpFromDate"
                               [value]="formatter.format(fromDate)"
                               (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                              <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group ml-2 fw-item">
                      <div class="input-group">
                        <input #dpToDate
                               class="form-control" placeholder="yyyy-mm-dd"
                               name="dpToDate"
                               [value]="formatter.format(toDate)"
                               (input)="toDate = validateInput(toDate, dpToDate.value)">
                        <div class="input-group-append">
                          <!-- <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"> -->
                            <!-- <i class="fa fa-calendar"></i> -->
                          <!-- </button> -->
                        </div>
                      </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-2 float-left salesman-select">
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-append">
                        <select name="salesman" id="salesman" (change)="getExecutive(executive.value)" #executive class="form-control">
                                <option value="all" selected>All</option>
                                <option value={{ex.externalId}} *ngFor="let ex of executives">{{ex.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 float-left salesman-select">
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-append">
                        <select name="salesman" id="salesman" [(ngModel)]="reportType" class="form-control">
                            <optgroup label="Select an option">
                                <option value="all" selected>All</option>
                                <option value="price_capturing" selected>Price Capturing</option>
                                <option value="stocking">Stocking</option>
                            </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-lg-12 input-wrapper clearfix">
            <img src="../../assets/icons/xlsx.svg" alt="">
        </div>
          <div class="col-lg-12 input-wrapper center-item-wrapper clearfix">
              <button class="btn login-btn hover-shadow" (click)="onDownloadSheet()">Generate & Download Sheet</button>
          </div>
      </div>
</section>